#header {
  background-color: $color-white;
  height: $header-height;

  .container {
    height: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
  }

  &__logo {
    margin-right: auto;

    a {
      color: map-get($colors-gray, 100);
      font-weight: bold;
      font-size: 1.25rem;
      text-decoration: none;
      letter-spacing: -0.5px;
    }
  }

  &__actions {
    #menu-icon {
      font-size: 32px;
    }

    .btn {
      margin-left: 0.75em;
    }
  }
}
