#map-wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 300px auto;
}

#map {
  height: 100%;
}

#sidebar {
  background-color: #F9F9F9;
  overflow: scroll;
}

#place-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.place-list-item {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #efefef;

  .info {
    flex-grow: 1;
  }

  .title {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .place-icon {
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    padding-top: 2px;
    color: #1EA896;
  }

  .name {
    font-weight: bold;
    margin-right: auto;
  }

  .address {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .bottom {
    display: flex;
  }

  .phone {
    font-size: 14px;
    font-style: italic;
    margin-right: auto;
  }

  .links span  {
    font-size: 18px;
    margin-left: 5px;
  }
}

.body-find {
  #page-wrapper {
    --header-height: $header-height;
    height: calc(100% - var(--header-height));
  }
}
