header(id="header")
  div(id="logo")
    a(href="/") VeganCity
    
  div(id="header--find__search")
    div(id="header--find__search__input-wrap")
      input(
        type="text",
        placeholder="Veggie burger...")
      button
        span(class="material-icons") search
      
          
  div(id="header--find__menu")  
    span(class="material-icons") menu
