doctype html
html
  head
    block title
      title VeganCity - Find vegan restaurants, markets, and products
    
    block style
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cardo|Karla")
      link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
      link(rel="stylesheet", href="/styles/app.css")
  
  body(class=`body-find`)
    div#site-wrapper
      block header
        include header
      
      div#page-wrapper
        block content
        block footer
          include footer
        
    block scripts
      script(src="/scripts/app.js")
      script(src="/scripts/find.js")
      script(src=`https://maps.googleapis.com/maps/api/js?key=${googleApiKey}&libraries=places&callback=initMap`)
