extends ../shared/layout

block header
  include ../shared/header-find

block content
  div(id="map-wrapper")
    div(id="sidebar")
      ul(id="place-list")
        li(class="place-list-item")
          div(class="material-icons place-icon") location_on
          div.info
            div.title Tomato Alley
            div.address
              div 123 Tomato Ave.
              div Brocolli, Asparagus 11222
            div.bottom
              div.phone 123-457-8888
              div.links
                span(class="material-icons icon-menu") restaurant_menu
                span(class="material-icons icon-link") link
                
    div(id="map")
  
block footer
