extends ../shared/layout

block content
  div(id="page-styleguide", class="container")
    div(class="page-heading")
      h1 Styleguide
      p.
        Your site styleguide goes here. This is a development route.
  
