#site-wrapper {
  height: 100%;
}

#page-wrapper {
  --header-height: $header-height;
  position: relative;
  min-height: calc(100% - var(--header-height));
  overflow: hidden;
}

.container {
  padding: 0 1rem;
  max-width: $container-width;
}

.page-heading {
  padding: 30px 0;
}
