* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: $font-cardo;
  color: map-get($colors-brand, text);
  height: 100%;
}

a {
  color: map-get($colors-brand, primary);
  text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
  font-family: $font-cardo;
  color: map-get($colors-brand, text);
}
