* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: $font-work-sans;
  height: 100%;
}

a {
  color: #00B7FF;
  text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-work-sans;
  color: map-get($colors-gray, 100);
}
