/**
 *
 * Variables
 *
*/

// Fonts

$font-cardo: "Cardo", Georgia, sans-serif;

// Colors

$color-black: #000000;
$color-white: #FFFFFF;

$colors-brand: (
  primary: #1EA896,
  secondary: #523F38,
  accent: #FF715B,
  warning: red,
  text: #4C5454
);

$colors-gray: (
  100: #333333,
  200: #575757,
  250: #696969,
  300: #808080,
  400: #b3b3b3,
  500: #c4c4c4,
  600: #e8e8e8
);

// Elements

$header-height: 60px;
$container-width: 100%;

// Responsive

$sm: 32rem;
$md: 48rem;
$lg: 60rem;
